<mat-card class="mt-3 ml-4 mr-4" [ngClass]="{'card-light':light, 'card-dark':!light}">
    <img [ngClass]="{'loading-card':loading}" mat-card-image [src]="country.flags.png">
    <div class="pb-1" [ngClass]="{'pl-1':!loading}">
        <p [ngClass]="{'loading-card':loading}" class="mt-1_5 mb-1_5 fs-1_5">{{country.name}}</p>
        <p [ngClass]="{'loading-card':loading}"><b>Population: </b>{{country.population}}</p>
        <p [ngClass]="{'loading-card':loading}"><b>Region: </b>{{country.region}}</p>
        <p [ngClass]="{'loading-card':loading}"><b>Capital: </b>{{country.capital}}</p>
    </div>
</mat-card>