.flex-ac{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-jc{
    display: flex;
    justify-content: center;
}

.ml-4{
    margin-left: 4rem;
}

.mr-4{
    margin-right: 4rem;
}

.ml-0_5{
    margin-left: 1.7rem;
}

.fs-1_5{
    font-size: 1.5rem;
}

.pl-1{
    padding-left: 1rem;
}

.pb-1{
    padding-bottom: 1rem;
}

.mt-3{
    margin-top: 3rem;
}

.mt-0_5{
    margin-top: 0.5rem;
}